.page3 {

	.toolbar-background{

	background: url("lol2.jpg");
	 background-repeat: no-repeat;
	background-size: 100% ;
	border-style:none
	
	}
	
		ion-icon{
		color:white;
		}
		
		
		.me img{
	 overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:200px;
    border-radius:200px;
	   border: 5px solid #424242;
    width:200px;
    height:200px;
	background:	  #FAFAFA;
	
		
		}
		
		
		
				.mee img{
	 overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:200px;
    border-radius:200px;
	   border: 5px solid #FAFAFA;
    width:200px;
    height:200px;
	background:	  #FAFAFA;
	
		
		}
		
		
		
     b{
	 
	 color:#E3CEF6;
	 
	 }
	 
	 
	 i{
	 
	 
	 color:white;
	 
	 }
		
		
		
		
	.toolbar-title{
	color:#FFFFFF;
  
	font-size:30px;
	
	}
		ion-content{
	background: url("lol2.jpg");
 background-repeat: no-repeat;
	background-size: 100% 100%;
	}
		
		
		ion-slide {



		}
		 
		ion-slide img {
		
		}
		
		
		
		
		.code img{
		
		
		border-radius:45px;
		
		 border: 5px solid white;
	
		
		}
		
	
		
		
		
	}	





