.page5 {


	.toolbar-background{
	
		background: url("lol.jpg");
	 background-repeat: no-repeat;
	background-size: 100% ;
	border-style:none
	

		}
		
		ion-icon{
		color:white;
		}
		
		
		
		
	.toolbar-title{
	color:#FFFFFF;
  
	font-size:30px;

	
	}



ion-content{
	background: url("lol.jpg");
 background-repeat: no-repeat;
	background-size: 100% 100%;
}


ion-card{
		border-radius:10px;

	margin-top : 20px;

	}





}